

.channel {
  background-color: var(--bg-channel-color);
  color: #fff;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: grid;
  place-content: center;
  margin-top: 120px;
}
.channels-classes-dm-container {
  min-width: 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.channel-h3-newClass-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h3-channels {
  font-size: 1.25em;
}
.newClass {
  color: #fff;
  background-color: #0328ee;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  font-size: 0.75em;
  align-items: center;
  font-weight: 500;
  transition: all 0.4s;
}
.newClass:hover {
  background-color: #011db8;
}
.icon-newClass {
  font-size: 0.75em;
  color: #fff;
}
.groups-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.group-notes {
  display: flex;
  justify-content: space-between;
}
.group-notes:hover .link-notes {
  opacity: 1;
  pointer-events: all;
}
.group{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
  background-color: #ffffff05;
}
.group:focus, .group:active{
    background-color: #0328ee;
}
.group:hover {
    background-color: #ffffff20;
}
.group.no-hover{
    background-color: transparent;
}
.img-group {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
}
.img-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}
.title-subtitle-container{
    display: flex;
    flex-direction: column;
}
.h5-group {
  font-size: 0.875em;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}
.h6-group{
    font-size: .5em;
    color: #ffffff80;
}
.notes {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 5px;
}
.link-notes {
  color: #fff;
}

@media (min-width: 768px) {
  .channel {
    max-width: 300px;
    margin-top: 70px;
  }
  .channels-classes-dm-container {
  }
  .channel-h3-newClass-container {
  }
  .h3-channels {
  }
  .newClass {
  }
  .icon-newClass {
  }
  .groups-container {
  }
  .group-notes {
  }
  .group {
  }
  .img-group {
  }
  .h5-group {
  }
  .notes {
  }
  .link-notes {
  }
  .channel-notes-icons {
  }
}

@media (min-width: 1024px) {
  .channel {
  }
  .channels-classes-dm-container {
  }
  .channel-h3-newClass-container {
  }
  .h3-channels {
  }
  .newClass {
  }
  .icon-newClass {
  }
  .groups-container {
  }
  .group-notes {
  }
  .group {
  }
  .img-group {
  }
  .h5-group {
  }
  .notes {
  }
  .link-notes {
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s;
  }
  .channel-notes-icons {
  }
}

@media (min-width: 1440px) {
  .channel {
  }
  .channels-classes-dm-container {
  }
  .channel-h3-newClass-container {
  }
  .h3-channels {
  }
  .newClass {
  }
  .icon-newClass {
  }
  .groups-container {
  }
  .group-notes {
  }
  .group {
  }
  .img-group {
  }
  .h5-group {
  }
  .notes {
  }
  .link-notes {
  }
  .channel-notes-icons {
  }
}
