:root {
    --chat-bg: #12151c;
}


.clases {
    display: flex;
    flex-direction: column;
    background-color: var(--chat-bg);
    color: #f5f5f5;
    width: 100%;
    border: 1px solid #ffffff40;
    height: 100vh;
    border-radius: 5px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    display: none;
}
.header-clases {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff40;
    padding: 5px 10px;
}
.user {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: all .4s;
    position: relative;
    overflow: hidden;
}
.user:hover{
    background-color: #ffffff20;
}
.user-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
}
.online{
    position: relative;
    margin: 0;
}
.online::after{
    content: '';
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 7px;
    height: 7px;
    background-color: #05c200;
    border-radius: 100%;
}
.user-name {
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: .875em;
}
.calls {
    display: flex;
    gap: 5px;
}
.call-btn {
    background-color: transparent;
    border: none;
    transition: all .4s;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.call-btn:hover{
    background-color: #ffffff20;
}
.calls-icon {
    color: #f5f5f5;
    font-size: 1.25em;
}
.chat-container {
    position: relative;
    padding: 0 10px;
}

@media (min-width: 768px) {
  .clases {
    border-radius: 0 10px 0 0;
    display: flex;
  }
  .header-clases {
  }
  .user {
    
  }
  .user-img {
  }
  .user-name {
  }
  .calls {
  }
  .call-btn {
  }
  .calls-icon {
  }
  .chat-container {
  }
}

@media (min-width: 1024px) {
  .clases {
  }
  .header-clases {
  }
  .user {
  }
  .user-img {
  }
  .user-name {
  }
  .calls {
  }
  .call-btn {
  }
  .calls-icon {
  }
  .chat-container {
  }
}

@media (min-width: 1440px) {
  .clases {
  }
  .header-clases {
  }
  .user {
  }
  .user-img {
  }
  .user-name {
  }
  .calls {
  }
  .call-btn {
  }
  .calls-icon {
  }
  .chat-container {
  }
}
