.download {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  max-width: 320px;
  padding: 18px;
}
.text-container-download {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.card-container-download {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  max-width: 320px;
  padding: 15px 0;
}
.card-download {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #010d50;
  border-radius: 10px;
  height: 450px;
  overflow: hidden;
  padding: 5px;
}
.text-card-download-container {
    margin: 20px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p-card {
  margin-bottom: 10px;
}
.download-btn {
  background: #0328EE;
  color: white;
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 10px;
  align-items: center;
}
.download-btn:hover{
  background-color: #011fca;
  transition: .4s ease-in-out;
}
.iconos-download-cards {
  font-size: 25px;
}

.app-store-span {
  margin-top: 3px;
}

.download-img {
  margin: auto;
  width: 80%;
}

@media (min-width: 768px) {
  .download {
    margin: 0;
    max-width: none;
  }
  .card-container-download {
    flex-direction: row;
    max-width: 770px;
    gap: 30px;
  }
  .card-download {
    padding: 10px;
    width: 50%;
    height: 600px;
  }
  .h3-card {
    font-size: 1.25em;
  }
  .p-card {
    max-width: 300px;
    font-size: .75em;
  }
  .download-btn {
    width: 160px;
    font-size: .75em;
    padding: 9px;
  }
  .iconos-download-cards {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .card-container-download {
    max-width: 1024px;
    width: 100%;
    gap: 40px;
  }
  .p-card {
    max-width: 400px;
  }
  .download-img {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .card-container-download {
    max-width: 1200px;
  }
  .card-download {
    padding: 15px;
    height: 700px;
  }
  .p-card {
    max-width: 500px;
  }
  .download-btn {
    max-width: 500px;
  }
}
