.download {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  max-width: 320px;
}
.text-container-download {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.h2-download {
}
.p-download {
}
.card-container-download {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: start;
  max-width: 320px;
}
.card-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #010d50;
  border-radius: 10px;
  height: 350px;
  overflow: hidden;
}
.text-card-download-container {
    margin: 20px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.h3-card {
}
.p-card {
}
.download-btn {
}
.iconos-download-cards {
}
.download-img {
  margin: 0 20px;
  width: 80%;
}

@media (min-width: 768px) {
  .download {
  }
  .text-container-download {
  }
  .h2-download {
  }
  .p-download {
  }
  .card-container-download {
  }
  .card-download {
  }
  .text-card-download-container {
  }
  .h3-card {
  }
  .p-card {
  }
  .download-btn {
  }
  .iconos-download-cards {
  }
  .download-img {
  }
}

@media (min-width: 1024px) {
  .download {
  }
  .text-container-download {
  }
  .h2-download {
  }
  .p-download {
  }
  .card-container-download {
  }
  .card-download {
  }
  .text-card-download-container {
  }
  .h3-card {
  }
  .p-card {
  }
  .download-btn {
  }
  .iconos-download-cards {
  }
  .download-img {
  }
}

@media (min-width: 1440px) {
  .download {
  }
  .text-container-download {
  }
  .h2-download {
  }
  .p-download {
  }
  .card-container-download {
  }
  .card-download {
  }
  .text-card-download-container {
  }
  .h3-card {
  }
  .p-card {
  }
  .download-btn {
  }
  .iconos-download-cards {
  }
  .download-img {
  }
}
