.functions {
    padding: 10px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 320px;
    margin: auto;
}
.h2-functions {
    
}
.p-functions {
    text-align: center;
}
.global-container-functions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.col-1-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    background-color: #010D50;
    border-radius: 10px;
    width: 80%;
    height: 180px;
    padding: 30px;
}
.icon-functions-card {
    font-size: 2em;
    background-color: #0328EE;
    padding: 10px;
    border-radius: 10px;
}
.h4-functions-card {
}
.p-functions-card {
}
.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #0328EE;
    border-radius: 10px;
    width: 80%;
    height: 330px;
    padding: 30px;
    overflow: hidden;
}
.img-functions-card {
    width: 60%;
}

@media (min-width: 768px) {
  .functions {
  }
  .h2-functions {
  }
  .p-functions {
  }
  .global-container-functions {
  }
  .col-1-3 {
  }
  .row {
  }
  .icon-functions-card {
  }
  .h4-functions-card {
  }
  .p-functions-card {
  }
  .col-2 {
  }
  .img-functions-card {
  }
}

@media (min-width: 1024px) {
  .functions {
  }
  .h2-functions {
  }
  .p-functions {
  }
  .global-container-functions {
  }
  .col-1-3 {
  }
  .row {
  }
  .icon-functions-card {
  }
  .h4-functions-card {
  }
  .p-functions-card {
  }
  .col-2 {
  }
  .img-functions-card {
  }
}

@media (min-width: 1440px) {
  .functions {
  }
  .h2-functions {
  }
  .p-functions {
  }
  .global-container-functions {
  }
  .col-1-3 {
  }
  .row {
  }
  .icon-functions-card {
  }
  .h4-functions-card {
  }
  .p-functions-card {
  }
  .col-2 {
  }
  .img-functions-card {
  }
}
